<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dimatechs.ecartAdmin">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application xmlns:tools="http://schemas.android.com/tools"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity android:name="com.dimatechs.ecartAdmin.AdminUserProductsActivity" />
        <activity android:name="com.dimatechs.ecartAdmin.AdminNewOrdersActivity" />
        <activity android:name="com.dimatechs.ecartAdmin.HomeActivity" />
        <activity android:name="com.dimatechs.ecartAdmin.LoginActivity" />
        <activity android:name="com.dimatechs.ecartAdmin.NewProductActivity" />
        <activity android:name="com.dimatechs.ecartAdmin.RegisterActivity" />
        <activity
            android:name="com.dimatechs.ecartAdmin.SplashScreenActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>